* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;
}

#upgrade {
  min-height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #090909;
  z-index: 50;
}

#upgrade button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 12px 24px;
  margin-right: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.2s;
}

#upgrade button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

aside .side-bar {
  background-color: #040404;
  display: flex;
  flex-direction: column;
  float: left;
  width: 15vw;
  height: calc(100vh - 100px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: #b3b3b3;
}

aside .side-bar .home,
aside .side-bar .search,
aside .side-bar .library {
  font-size: 16px;
  font-weight: bold;
  padding: 15px 10px;
}

aside .side-bar i {
  width: 12%;
}

aside .side-bar a {
  text-decoration: none;
  color: #b3b3b3;
  transition: all 0.2s;
}

aside .side-bar a:hover {
  cursor: pointer;
  color: #fff;
}


aside .side-bar i:last-of-type {
  text-align: center;
}

aside .side-bar .profile {
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 15%;
  z-index: 200;
}

aside .side-bar img {
  width: 150px;
  height: 80px;
  padding-left: 10px;
}

aside .side-bar img:last-of-type {
  display: none;
  width: 60px;
  height: 60px;
  padding: 5px;
}

section .wall {
  background-color: #121212;
  width: 85vw;
  margin-top: 80px;
  padding: 0 20px 60px;
  float: right;
  text-align: left;
}

section .wall .w-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #b3b3b3;
  text-transform: uppercase;
  font-weight: bold;
}

section .wall .w-section span {
  padding: 25px;
  font-size: 14px;
}

section .wall .w-section span:hover {
  color: #fff;
  cursor: pointer;
}

section .wall .w-section span .evidence {
  width: 50%;
  margin: 5px auto;
  height: 4px;
  border-radius: 2px;
  line-height: 4px;
  background-color: rgb(0, 255, 0);
}

section .wall h2 {
  color: #fff;
  padding: 50px 5px 30;
  margin: 5px;
}

section .wall p {
  color: #b3b3b3;
  font-weight: bold;
  padding: 5px;
  margin: 5px 3px;
}

section .wall .wall-music {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  padding: 30px 0;
  margin-bottom: 50px;
}

section .wall .wall-music .single-song {
  width: 180px;
}

section .wall .wall-music .single-song .cover {
  position: relative;
  margin: 5px 5px 10px;
  padding: 5px;
}

section .wall .wall-music .single-song .cover img {
  height: 100%;
  width: 100%;
}

section .wall .wall-music .single-song .circle img,
section .wall .wall-music .single-song .circle .transparent {
  border-radius: 50%;
}

section .wall .wall-music .single-song .cover .transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: auto;
  background-color: transparent;
  margin: 5px;
  padding: 5px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

section .wall .wall-music .single-song .cover .plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 70px;
  color: #fff;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

section .wall .wall-music .single-song .cover:hover .plus {
  opacity: 1;
  cursor: pointer;
}

section .wall .wall-music .single-song .cover:hover .transparent {
  opacity: 1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 9px;
}

section .wall .wall-music .single-song .song-title {
  flex: none;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
  padding: 0 5px;
}

section .wall .wall-music .single-song .song-title h4 {
  font-size: 14px;
}

section .wall .wall-music .single-song .song-title p {
  color: #b3b3b3;
  font-size: 12px;
  padding: 10px 0;
}

footer .player {
  background-color: yellow;
  display: flex;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  z-index: 150;
}

@media all and (min-width: 1400px) {

  section .wall h2 {
    color: #fff;
    font-size: 28px;
  }

  section .wall .wall-music .single-song {
    width: 250px;
  }

  section .wall .wall-music .single-song .song-title h4 {
    font-size: 16px;
  }

  section .wall .wall-music .single-song .song-title p {
    font-size: 14px;
  }

  section .wall .w-section span {
    font-size: 16px;
  }

  aside .side-bar .home,
  aside .side-bar .search,
  aside .side-bar .library {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 10px;
  }

  aside .side-bar i {
    width: 15%;
  }
}

@media all and (max-width: 991px) {
  section .wall .wall-music {
    flex-wrap: wrap;
  }

  section .wall .wall-music .single-song {
    width: 200px;
  }

  aside .side-bar img {
    width: 140px;
  }

  aside .side-bar .home,
  aside .side-bar .search,
  aside .side-bar .library {
    font-size: 16px;
    font-weight: bold;
    padding: 15px 8px;
  }

  aside .side-bar i {
    width: 15%;
  }
}

@media all and (max-width: 988px) {
  section .wall .wall-music .single-song {
    width: 250px;
  }

  aside .side-bar img {
    width: 130px;
  }
}

@media all and (max-width: 964px) {
  aside .side-bar .library {
    padding-right: 0;
  }
}

@media all and (max-width: 929px) {
  section .wall .wall-music .single-song {
    width: 300px;
  }

  aside .side-bar img {
    width: 115px;
  }


  aside .side-bar i {
    width: 12%;
  }

  aside .side-bar {
    width: 25vw;
  }

  section .wall {
    width: 75vw;
  }

  aside .side-bar .home,
  aside .side-bar .search,
  aside .side-bar .library {
    font-size: 18px;
  }
}

@media all and (max-width: 858px) {
  aside .side-bar i {
    width: 15%;
  }

  aside .side-bar {
    width: 20vw;
  }

  section .wall {
    width: 80vw;
  }

}

@media all and (max-width: 804px) {

  aside .side-bar {
    width: 22vw;
  }

  section .wall {
    width: 78vw;
  }
  section .wall .wall-music .single-song {
    width: 270px;
  }
}


@media all and (max-width: 768px) {
  section .wall .wall-music .single-song {
    width: 280px;
  }

  aside .side-bar img {
    width: 110px;
  }

  aside .side-bar .home,
  aside .side-bar .search,
  aside .side-bar .library {
    font-size: 16px;
    font-weight: bold;
    padding: 15px 5px;
  }

  aside .side-bar {
    width: 20vw;
  }

  section .wall {
    width: 80vw;
  }
}

@media all and (max-width: 749px) {

  aside .side-bar .home span,
  aside .side-bar .search span,
  aside .side-bar .library span {
    display: none;
  }

  aside .side-bar .home a,
  aside .side-bar .search a,
  aside .side-bar .library a {
    font-size: 20px;
  }

  aside .side-bar .home {
    padding-top: 30px;
  }

  aside .side-bar img {
    display: none;
  }

  aside .side-bar img:last-of-type {
    display: block;
  }

  aside .side-bar {
    width: 10vw;
    align-items: center;

  }

  section .wall {
    width: 90vw;
  }
}

@media all and (max-width: 666px) {
  section .wall .wall-music .single-song {
    width: 250px;
  }

  aside .side-bar img:last-of-type {
    width: 50px;
    height: 50px;
  }
}

@media all and (max-width: 599px) {
  section .wall .wall-music .single-song {
    width: 300px;
  }

  section .wall .wall-music {
    justify-content: center;
  }

  section .wall {
    text-align: center;
  }
}
